<!DOCTYPE html>
<html>
<head>
  <title>RailsJwt</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-app="myapp">

<%= yield %>

</body>
</html>
